.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-video-container-elm {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-image {
  width: 200px;
  object-fit: cover;
}
 
.home-thq-hero-title-elm {
  width: 856px;
}
 
.home-thq-sub-video-icon-elm1 {
  align-items: center;
  justify-content: center;
}
 
.home-thq-sub-video-icon-elm2 {
  align-items: center;
  justify-content: center;
}
 
.home-thq-section-content-elm2 {
  letter-spacing: 0px;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon30 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text21 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .home-thq-hero-video-section-elm {
    height: 827px;
  }
  .home-thq-hero-video-container-elm {
    height: 762px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-thq-hero-title-elm {
    width: 446px;
    font-size: 28px;
  }
  .home-thq-section-title-elm1 {
    font-size: 32px;
  }
  .home-thq-section-title-elm2 {
    width: 352px;
    font-size: 32px;
  }
  .home-thq-section-content-elm2 {
    width: 347px;
  }
}
